<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About author</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
</head>
<body>
<div id="app">
  <div class="first-section">
    <div class="first-section__top">
      <div class="app-logo">VovApp</div>
      <div class="top-menu">
        <div class="top-links__one-link" @click.prevent="switchMenuDialog">
          <a href="#"><v-icon>mdi-menu</v-icon></a>
        </div>
      </div>
      <div class="top-links">
        <div class="top-links__one-link">
          <a href="index.html">Home</a>
        </div>
        <div class="top-links__one-link">
          <a href="about.html" @click.prevent>About</a>
        </div>
        <div class="top-links__one-link">
          <a href="work.html">Work</a>
        </div>
        <div class="top-links__one-link">
          <a href="blog.html">Blog</a>
        </div>
        <div class="top-links__one-link">
          <a href="contacts.html">Contact</a>
        </div>
      </div>
    </div>

    <div id="SinoptikInformer" style="width:300px; margin:auto;" class="SinoptikInformer type1" >
      <div class="siHeader">
          <div class="siLh">
              <div class="siMh">
                  <a onmousedown="siClickCount();" class="siLogo" href="https://ua.sinoptik.ua/" target="_blank" rel="nofollow" title="Погода"></a>Погода
                  <span id="siHeader"></span>
              </div>
          </div>
      </div>
      <div class="siBody">
          <a onmousedown="siClickCount();" href="https://ua.sinoptik.ua/погода-київ" title="Погода у Києві" target="_blank">
              <div class="siCity">
                  <div class="siCityName">
                      <span>Київ</span>
                  </div>
                  <div id="siCont0" class="siBodyContent">
                      <div class="siLeft">
                          <div class="siTerm"></div>
                          <div class="siT" id="siT0"></div>
                          <div id="weatherIco0"></div>
                      </div>
                      <div class="siInf">
                          <p>вологість: <span id="vl0"></span></p>
                          <p>тиск: <span id="dav0"></span></p>
                          <p>вітер: <span id="wind0"></span></p>
                      </div>
                  </div>
              </div>
          </a>
          <a onmousedown="siClickCount();" href="https://ua.sinoptik.ua/погода-луцьк" title="Погода у Луцьку" target="_blank">
              <div class="siCity">
                  <div class="siCityName">
                      <span>Луцьк</span>
                  </div>
                  <div id="siCont1" class="siBodyContent">
                      <div class="siLeft">
                          <div class="siTerm"></div>
                          <div class="siT" id="siT1"></div>
                          <div id="weatherIco1"></div>
                      </div>
                      <div class="siInf">
                          <p>вологість: <span id="vl1"></span></p>
                          <p>тиск: <span id="dav1"></span></p>
                          <p>вітер: <span id="wind1"></span></p>
                      </div>
                  </div>
              </div>
          </a>
          <div class="siLinks">
              Погода на 10 днів від <a href="https://ua.sinoptik.ua/10-днів" title="Погода на 10 днів" target="_blank" onmousedown="siClickCount();"> sinoptik.ua</a>
          </div>
      </div>
      <div class="siFooter">
          <div class="siLf">
              <div class="siMf"></div>
          </div>
      </div>
  </div>

    <div
      v-if="menuDialog"
      class="menu-list"
    >
      <div
        v-for="(item, index) in menuLinks"
        :key="index"
        class="menu-list__item"
        @click=""
      >
        {{ item }}
      </div>
    </div>
    <div class="first-section__middle">
      <h2>Hi there! Subscribe to my instagram, facebook, share this website to all your friends</h2>
    </div>
    <div class="first-section__bottom">
      <a href="" target="_blank">
        <button type="button" class="btn btn-info btn-lg btn3d"><span class="glyphicon glyphicon-question-sign"></span> Follow me</button>
      </a>
    </div>
  </div>
  <div class="second-section">
    <img src="https://images.pexels.com/photos/1015568/pexels-photo-1015568.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="In work">
  </div>
  <div style="padding: 50px; text-align: center;">
    <h1>Now i am a student, hobby is learning new technologies</h1>
  </div>
  <footer class="page-footer">
    <span>This page was created with imagine of author Vova Zakharchuk, no UI libraries used</span>
  </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="./main.js"></script>

<script>
  var siCss=document.createElement('link');
  siCss.setAttribute('rel','stylesheet');
  siCss.setAttribute('type','text/css');
  siCss.setAttribute('href','http://sinst.fwdcdn.com/css/informers2.css?v=1');
  document.getElementsByTagName('head')[0].appendChild(siCss);
  
  function siClickCount(){
      var siCount=document.createElement('script');
      siCount.setAttribute('type','text/javascript');
      siCount.setAttribute('src','http://sinoptik.ua/click/informers/ua.html?rnd='+new Date().valueOf());
      document.getElementsByTagName('head')[0].appendChild(siCount);
  }
  
  function LoadInformer(data){
      if(document.getElementById('siHeader')){
          document.getElementById('siHeader').innerHTML=data.date
      }
      for(var i=0;i< data.body.length;i++){
          if(data.body[i]!=null){
              if(document.getElementById('siT'+i)){
                  document.getElementById('siT'+i).innerHTML=data.body[i].temp
              }
              if(document.getElementById('weatherIco'+i)){
                  document.getElementById('weatherIco'+i).className='weatherIco '+data.body[i].img
              }
              if(document.getElementById('vl'+i)){
                  document.getElementById('vl'+i).innerHTML=data.body[i].rh
              }
              if(document.getElementById('dav'+i)){
                  document.getElementById('dav'+i).innerHTML=data.body[i].p
              }
              if(document.getElementById('wind'+i)){
                  document.getElementById('wind'+i).innerHTML=data.body[i].ws
              }
          }
      }    
      document.getElementById('SinoptikInformer').style.display='block';
  }
  
  LoadInformer({
      date:'08.12.20, вдень',
        body:[
          {"temp":"-7&deg;","wt":null,"ws":"5.0 м\/с, <span class=\"wind wind-E\" title=\"східний\"><\/span>","p":"754 мм","rh":"77%","img":"d412"},
          {"temp":"-3&deg;","wt":null,"ws":"5.0 м\/с, <span class=\"wind wind-SE\" title=\"південно-східний\"><\/span>","p":"750 мм","rh":"59%","img":"d400"}
      ]
  })
</script>

</body>
</html>
